---
import AppLayout from "../layouts/AppLayout.astro";
import EventCard from "../components/EventCard.astro";
import Modal from "../components/Modal.astro";
import events from '../data/events.json'

---

<AppLayout>
  <h1 class="mt-4">Calendario de Eventos</h1>
  <div class="row">
    {
      events.map(event => (
        <div class="col-md-6 col-lg-4 mb-4">
          <EventCard {event} />
        </div>
      ))
    }
  </div>
  <Modal />
</AppLayout>